:root {
  --primary-color: #000;
  --secondary-color: #6e78ff;
  --blue-dark-color: #6c8dfa;
  --blue-middle-color: #68b6ef;
  --blue-light-color: #65cbe9;
  --monochromatic-dark-dark-color: #fb6f92;
  --monochromatic-dark-color: #f55c7a;
  --monochromatic-middle-color: #cbd68e;
  --monochromatic-light-color: #f5fccd;
  --counter-color: #fff;
  --counter-bg-color: #e74a3b;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  direction: rtl;
  /* background-color: var(--blue-light-color); */
  height: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.rotate-180 {
  /* transition: all 0.5s; */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

button {
  cursor: pointer;
}

.drop-down-wrapper {
  position: relative;
  color: var(--secondary-color);
}

.drop-down-wrapper .drop-down-content {
  visibility: hidden;
  position: absolute;
  top: 1.6rem;
  left: 0px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.drop-down-wrapper .drop-down-content a{
  color: var(--secondary-color);
  padding: 0.25rem;
  border-radius: 8px;
}

.drop-down-wrapper .drop-down-content a:hover {
  background-color: var(--blue-light-color);
}

.counter-text{
  user-select: none;
  border-radius: 100% !important;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.user-name{
  color: var(--primary-color);
}
