:root {
  --primary-color: #000;
  --secondary-color: #6e78ff;
  --blue-dark-color: #6c8dfa;
  --blue-middle-color: #68b6ef;
  --blue-light-color: #65cbe9;
  --monochromatic-dark-dark-color: #fb6f92;
  --monochromatic-dark-color: #f55c7a;
  --monochromatic-middle-color: #cbd68e;
  --monochromatic-light-color: #f5fccd;
  --counter-color: #fff;
  --counter-bg-color: #e74a3b;

  --counter-white: #fff;
  --counter-black: #000;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Medium-FD-WOL.ttf");
}

@font-face {
  font-family: "Khandevane";
  src: url("../fonts/Khandevane.ttf");
}

@font-face {
  font-family: "IranNastaliq";
  src: url("../fonts/IranNastaliq.ttf");
}

@font-face {
  font-family: "FarMitra";
  src: url("../fonts/Far_Mitra.ttf");
}

@font-face {
  font-family: "BNazanin";
  src: url("../fonts/BNazanin.ttf");
}

body {
  direction: rtl;
  /* background-color: var(--blue-light-color); */
  height: 100%;
  font-family: "Vazir", Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazir", Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.rotate-180 {
  /* transition: all 0.5s; */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

button {
  cursor: pointer;
}

.drop-down-wrapper {
  position: relative;
  color: var(--secondary-color);
}

.drop-down-wrapper .drop-down-content {
  visibility: hidden;
  position: absolute;
  top: 1.6rem;
  left: 0px;
  background-color: var(--blue-light-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.drop-down-wrapper .drop-down-content a{
  color: var(--primary-color);
  padding: 0.25rem;
  border-radius: 8px;
}

.drop-down-wrapper .drop-down-content a:hover {
  background-color: var(--blue-middle-color);
}

.counter-text{
  user-select: none;
  border-radius: 100% !important;
  width: calc(100% + 0.4rem);
  height: calc(100% + 0.4rem);
  line-height: 1rem;
  /* padding: 0.1rem 0.5rem; */
}

.user-name{
  color: var(--primary-color);
}

.content .head-content .title-content{
  font-size: 2.3rem;
}

.content .head-content .report-btn{
  background-color: var(--blue-dark-color);
  color: var(--counter-white);
  border: 1px solid var(--primary-color);
  border-radius: 16%;
  padding: 0.4rem;
}

.content .head-content .report-btn:hover{
  background-color: var(--secondary-color);
}
